/* Home Page */

@import url(https://fonts.googleapis.com/css?family=Patua+One|Oswald:400,300);

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
}

#content {
    min-height: 100%;
    min-width: 100%;

    /* Background */
    background: #517fa4; /*Old Old Old*/
    background: url('/static/img/banner.png') center no-repeat, linear-gradient(#517fa4, #243949); /* W3C */
    background-size: cover;
}

/* Main Row */
#main {
    min-width: 100%;
}

#main span.header {
    display: block;
    position: relative;

    color: white;
    font-family: 'Patua One', cursive;
    text-align: center;
}

#main span.large {
    padding-top: 10%;
    /*padding-left: 15%;*/

    font-size: 10em;
}

#main span .letter-a {
    color: #0099F7;
}

#main span.subtext {
    /*padding-left: 20%;*/
    /*color: #FFE3AA;*/
    font-size: 2em;
    font-style: italic;
}

/* User Interaction Elements (e.g. button, dropdowns, etc) */

.flashed_messages {
    width: 40%;
    margin: 1% auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    color: white;

    background: rgba(77, 0, 0, 0.5);
    text-align: center;
}

form {
    font-family: 'Oswald', sans-serif;
    color: white;
}

form fieldset a {
    font-size: 1.4em;
}

fieldset input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -2;
}

fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 2em; /*Larger box without playing with padding because of progress bar*/
}

#drag_n_drop {
    margin: 2% auto 0;
    width: 60%;
    text-align: center;
    border: 1px dashed white;
}

.no_dragover {
    /* Most retarded hack in the world */
    background: rgba(0, 153, 247, 0.3);
}
.is_dragover {
    /* background: rgba(238, 242, 243, 0.5); */
    background: rgba(77, 0, 0, 0.5);
}

#progress_bar {
    position: absolute;
    width: 0%; /* Changes as file uploads */
    background: rgba(141,194,111, 0.4);
    /* z-index: 1; */
}

#drag_n_drop .drag_n_drop_text {
    /* Will be modified if the browser supports */
    display: inline;
}

#drag_n_drop .file_upload_text {
    cursor: pointer;
}

#drag_n_drop .uploaded_file_name {
    /* Will be modified upon file upload */
    display: none;
}

#submit_button {
    margin: 0 auto;
    margin-top: 1%;
    width: 40%;
    text-align: center;
    color: white;
}

#submit_button #label_submit {
    border: 2px solid #0099F7;
    background-color: #0099F7;
    border-radius: 25%;
    padding: 1% 1% 1% 1%;
}

#submit_button #label_submit:hover {
    background-color: white;
    color: #0099F7;
    border: 2px solid white;
}

#submit_button #label_submit:active {
}

/* Flashed Messages */

/* Results Page */

#chart {
    float: left;
    width: 50%;
    height: 100%;
}

#dataset-picker {
    float: left;
    width: 50%;
}

#viewer {
    float: right;
    width: 50%;
}


/* Chord Styling */

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .75;
}

path.chord {
    stroke: none;
}

path.highlight {
    stroke: black;
    stroke-width: 1.5;
}

#circle:hover path.fade {
    display: none;
}

.chord_label {
    font-size: 0.75em;
}
