/* Home Page */

@import url(https://fonts.googleapis.com/css?family=Patua+One|Oswald:400,300);

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
}

#content {
    min-height: 100%;
    min-width: 100%;

    /* Background */
    background: #517fa4; /*Old Old Old*/
    background: url('/static/img/banner.png') center no-repeat, linear-gradient(#517fa4, #243949); /* W3C */
    background-size: cover;
}

/* Main Row */
#main {
    min-width: 100%;
}

#main span.header {
    display: block;
    position: relative;

    color: white;
    font-family: 'Patua One', cursive;
    text-align: center;
}

#main span.large {
    padding-top: 10%;
    /*padding-left: 15%;*/

    font-size: 10em;
}

#main span .letter-a {
    color: #0099F7;
}

#main span.subtext {
    /*padding-left: 20%;*/

    font-size: 2em;
    font-style: italic;
}

/* User Interaction Elements (e.g. button, dropdowns, etc) */

form {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    color: white;
}

fieldset input {
    position: fixed;
    top: -1000px;
}

fieldset {
    margin: 0;
    border: none;
}

#drag_n_drop {
    margin: 2% auto 0;
    width: 60%;
    text-align: center;
}

.has_advanced_upload {
    border: 1px dashed white;
    background: rgba(0, 153, 247, 0.3);
}

.is_dragover {
    /*background: rgba(238, 242, 243, 0.5);*/
    background: rgba(77, 0, 0, 0.5);
}

.drag_n_drop_text {
    /* Will be modified if the browser supports */
    display: none;
}

.has_advanced_upload .drag_n_drop_text {
    display: inline;
}

.uploaded_file_name {
    /* Will be modified upon file upload */
    display: none;
}

#submit_button {
    margin: 0 auto;
    margin-top: 1%;
    width: 40%;
    text-align: center;
    color: white;
}

#submit_button #label_submit {
    border: 2px solid #0099F7;
    background-color: #0099F7;
    border-radius: 25%;
    padding: 0 2% 0 2%;
}

#submit_button #label_submit:hover {
    background-color: #4D0000;
    border: 2px solid white;
}

/* Flashed Messages */

/* Results Page */

#chart {
    float: left;
    width: 50%;
    height: 100%;
}

#dataset-picker {
    float: left;
    width: 50%;
}

#viewer {
    float: right;
    width: 50%;
}


/* Chord Styling */

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .75;
}

path.chord {
    stroke: none;
}

path.highlight {
    stroke: black;
    stroke-width: 1.5;
}

#circle:hover path.fade {
    display: none;
}

.chord_label {
    font-size: 0.75em;
}
