<html>
  <head>
    <title>Interface Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}/" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
      // Test if JavaScript is allowed and if drag-n-drop and webgl as supported.
      // TODO
      var isAdvancedUpload = function() {
      var div = document.createElement('div');
        return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
      }();
      if (!isAdvancedUpload) {
        alert('You need a modern browser to use Interfacia');
        // Load an alternative page!
      }
    </script>
  </head>
  <body>
    <div id="content">

      <div id="main">
        <span class="header large">
          <a>Interfaci</a><a class='letter-a'>a</a>
        </span>
        <span class="header subtext">Interactive graphical analysis of molecular interfaces</span>
      </div> <!-- main -->

      <form identity="upload_form" action="" method="POST" enctype="multipart/form-data">
        <fieldset class="no_dragover" id="drag_n_drop">
          <div id="progress_bar">&nbsp;</div>
          <label class="button" for="structure">
              <input type="file" id="structure" name="structure"/>
              <a class="file_upload_text">Click to choose a structure</a>
              <a class="drag_n_drop_text"> or drag it here</a>
              <a class="uploaded_file_name"></a>
            </label>
        </fieldset>
        <fieldset id="submit_button">
            <label id="label_submit" class="button" for="submit_btn">
              <input type="submit" id="submit_btn" />
              <a class="">Go</a>
            </label>
        </fieldset>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashed_messages">
            {% for message in messages %}
              <a>{{ message }}</a>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      </form>

    </div> <!-- content -->

    <!-- Upload Files using AJAX & Drag-n-Drop or the regular input field -->
    <script src="{{ url_for('static', filename='js/interfacia/uploadr.js') }}/"></script>
  </body>
</html>
